* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth !important;
}
body {
    background-color:  #0A0A0A;
    font-family: Arial, Helvetica, sans-serif;
}
.pulse-dot {
    animation: pulseDot 1.2s ease-in-out infinite;
}

@keyframes pulseDot {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.6);
    }
}

@media only screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden; 
        /* width: 100%;        */
    }
}